<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bulma + CMS.js Blog Theme</title>
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Bulma Version 0.7.2-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/bulma-blog.css">
    <link href="./css/animations.css" rel="stylesheet">
    <noscript>Please enable JavaScript to view this site.</noscript>
  </head>
  <body>
    <!-- START NAV -->
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            Blog
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active" href="#">
              Home
            </a>
            <a class="navbar-item" href="#/posts">
              Posts
            </a>
            <a class="navbar-item" href="#/pages/about">
              About
            </a>
            <a class="navbar-item" href="#/pages/links">
              Links
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Dropdown
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href="#/pages">
                  Pages
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- END NAV -->
    <section class="hero is-info is-medium is-bold">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-size-1">
          Bulma + CMS.js
          </h1>
        </div>
      </div>
    </section>
    <div class="container">
      <!-- START ARTICLE FEED -->
      <section class="articles">
        <div class="column is-8 is-offset-2">

          <!-- CMS.js -->
          <div id="cms"></div>

        </div>
      </section>
      <!-- END ARTICLE FEED -->
    </div>

    <!-- CMS.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.12/es5-shim.min.js"></script>
    <script src="../js/cms.js"></script>
    <script>
    var blog = new CMS({
      elementId: 'cms',
      mode: 'GITHUB',
      github: {
        username: 'chrisdiana',
        repo: 'cms.js-themes',
        branch: 'master',
        host: 'https://api.github.com',
        prefix: 'templates',
      },
      layoutDirectory: 'layouts/bulma-blog',
      errorLayout: 'error',
      defaultView: 'posts',
      types: [
        { name: 'posts', layout: { list: 'post-list', single: 'post' }},
        { name: 'pages', layout: { list: 'page-list', single: 'page' }},
      ],
    });
    </script>
  </body>
</html>